{% extends 'layout.html' %}

{% block body %}
<center><h1>Thank You For Attending The Session The Widhya Way!<br/></h1>
  <h3>Please be informed that your certificate will be issued only
    if you have filled in the feedback form and have followed us on Instagram & LinkedIn ! </h3>
</center>
<form action="" method="post">
	{{ form.csrf }}
	<center>
		<div class="input text">
			{{ form.email.label }} <br> {{ form.email }} <br/><br/>
		</div>
		<div class="input submit">
			<input type="submit" value="Submit" />
		</div>
	</center>
</form>
<br/><br/>
<center>
  {% if accept %}
    <h1>CONGRATULATIONS</h1><br/>
    <h3>Thanks for submitting your Email ID. It can be seen that you have filled the feedback form up! Your certificate has been sent to your registered mail ID. Please do have a look. Do check your spam folders too!</h3><br/>

  {% elif flag %}
    <h1>OOPS</h1><br/>
    <h3> {{ apologies }} </h3>
  	<h3><a href="https://docs.google.com/forms/d/e/1FAIpQLSf7xyODTRUqygdaZXD_3SBdGDufol_fL3IdnJpg6CTHT5MeRg/viewform">Feedback Form</a></h3><br/>
    <a href="https://www.linkedin.com/company/widhyaorg/" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/widhya_org/" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/Widhya.Org/" class="fa fa-facebook"></a>
  {% endif %}
</center>
{% endblock %}
