<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Rahul Arulkumaran" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Widhya</title>
    <style>
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 70px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius:50%;
      }
      .fa:hover {
          opacity: 0.7;
      }

      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      .fa-instagram {
        background: #dd2a7b;
        color: white;
      }
    </style>
	</head>

	<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}" style="font-size:20px;margin-left:-20px;color:white"><img class="navbar-brand" src="{{ url_for('static',filename='images/logo.png') }}" style="height:75px;width:75px;margin-top:-25px;margin-bottom:-15px;">Widhya</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}" style="font-size:20px;"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="#"  style="font-size:20px;"><span class="glyphicon glyphicon-earphone"></span> Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
{% block body %}{% endblock %}

	</body>
</html>
